<div *ngIf="loading" class="text-center mt-5">Loading...</div>
<div *ngIf="!loading">

  <ul *ngIf="jobs.length; else noJobs">
    <li class="list-item" *ngFor="let job of jobs | pagesFilter:page">
      <div class="d-flex">
        <div class="img-fluid-container">
          <img *ngIf="job.company_logo" class="img-fluid" src="{{job.company_logo}}" alt="Image not found">
          <span *ngIf="!job.company_logo" class="no-logo">not found</span>
        </div>
        <div>
          <b>{{job.company}}</b>
          <h3>{{job.title}}</h3>
          <p class="outline">Full time</p>
        </div>
      </div>
      <div class="sub-info">
        <span class="material-icons">public</span><span>{{job.location}}</span>
        <span class="material-icons ml-3">schedule</span><span>{{getDate(job.created_at)}}</span>
      </div>
    </li>
  </ul>

  <!-- todo create pagination in a separate component or directive -->

  <ul class="pagination" *ngIf="jobs.length > 5">
    <li>
      <button [disabled]="page === 1" (click)="goTo.emit(-1)">
        <span class="material-icons">chevron_left</span>
      </button>
    </li>
    <li *ngIf="page !== 1">
      <button (click)="goTo.emit(-1)">{{page - 1}}</button>
    </li>
    <li>
      <button class="current">{{page}}</button>
    </li>
    <li *ngIf="pages >= page + 1">
      <button (click)="goTo.emit(1)">{{page + 1}}</button>
    </li>
    <li *ngIf="pages - page > 2">
      <button disabled>...</button>
    </li>
    <li *ngIf="pages - page >= 2">
      <button (click)="goTo.emit(pages - page)">{{pages}}</button>
    </li>
    <li>
      <button [disabled]="page === pages" (click)="goTo.emit(1)">
        <span class="material-icons">chevron_right</span>
      </button>
    </li>
  </ul>

  <ng-template #noJobs>
    <p class="text-center mt-5">There are no jobs now</p>
  </ng-template>
</div>
