<div *ngIf="loading" class="text-center mt-5">Loading...</div>
<div *ngIf="!loading">

  <ul *ngIf="jobs.length; else noJobs">
    <li class="list-item" *ngFor="let job of jobs">
      <div class="d-flex">
        <div class="img-fluid-container">
          <img *ngIf="job.company_logo; else noLogo" class="img-fluid" src="{{job.company_logo}}" alt="Image not found">
          <ng-template #noLogo>
            <span class="no-logo">not found</span>
          </ng-template>
        </div>
        <div>
          <b>{{job.company}}</b>
          <h3>{{job.title}}</h3>
          <p class="outline">Full time</p>
        </div>
      </div>
      <div class="sub-info">
        <span class="material-icons">public</span><span>{{job.location}}</span>
        <span class="material-icons ml-3">schedule</span><span>{{getDate(job.created_at)}}</span>
      </div>
    </li>
  </ul>

  <ul class="pagination" *ngIf="jobs.length">
    <li>
      <button (click)="goTo.emit(-1)">
        <span class="material-icons">chevron_left</span>
      </button>
    </li>
    <li *ngIf="pageNum !== 1">
      <button>{{pageNum - 1}}</button>
    </li>
    <li>
      <button class="current">{{pageNum}}</button>
    </li>
    <li>
      <button>{{pageNum + 1}}</button>
    </li>
    <li>
      <button disabled>...</button>
    </li>
    <li>
      <button>{{pageNum + 5}}</button>
    </li>
    <li>
      <button (click)="goTo.emit(1)">
        <span class="material-icons">chevron_right</span>
      </button>
    </li>
  </ul>

  <ng-template #noJobs>
    <p class="text-center mt-5">There are no jobs now</p>
  </ng-template>
</div>
