ul {
  list-style: none;
}

li.list-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px 0;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.img-fluid-container {
  display: flex;
  align-items: center;
  max-width: 90px;
  max-height: 90px;
  margin-right: 15px;
}

.no-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  background: #F2F2F2;
  border-radius: 4px;
}

.img-fluid {
  border-radius: 4px;
}

b {
  font-size: 12px;
  line-height: 14px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
}

.outline {
  padding: 6px;
  width: fit-content;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #334680;
}

.sub-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #B9BDCF;
}

.material-icons {
  font-size: 18px;
  padding-right: 5px;
}

.pagination {
  justify-content: flex-end;
}

.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  color: #B9BDCF;
  background: transparent;
  border: 1px solid #B7BCCE;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.pagination button:enabled:not(.current):hover {
  color: #1E86FF;
  border: 1px solid #1E86FF;
}

.pagination button.current {
  color: #FFFFFF;
  background: #1E86FF;
  border: 1px solid #1E86FF;
}
