label {
  cursor: pointer;
}

.location-input-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #B9BDCF;
}

.location {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  margin-bottom: 30px;
  background: #FFFFFF;
  color: #B9BDCF;
  border-radius: 4px;
}

.location input {
  width: 100%;
  padding-left: 5px;
  border: none;
  outline: none;
  overflow: hidden;
}

::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #B9BDCF;
}
