a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.how-to-apply-label {
  padding: 30px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #B9BDCF;
}

.img-fluid-container {
  max-width: 45px;
  max-height: 45px;
}

.no-logo {
  height: 45px;
  width: 45px;
}
