.form-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: url(../../../assets/img/bg.png) center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 70%;
  padding: 4px;
  margin: 0 15px;
  background: #FFFFFF;
  border-radius: 4px;
}

label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 0 15px;
  color: #B9BDCF;
}

input {
  width: 100%;
  padding: 0;
  margin: 0 15px;
  border: none;
  outline: none;
  overflow: hidden;
}

::placeholder {
  color: #B9BDCF;
}

button {
  width: 146px;
  height: 47px;
  color: #FFFFFF;
  background: #1E86FF;
  border-radius: 4px;
  border: none;
  outline: none;
}

button:disabled {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(30, 134, 255, 0.85);
  cursor: not-allowed;
}
